@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <h1>D&amp;D Character Manager</h1>
        <p class="lead">Keep track of your character sheets, inventory items, and journal entries.</p>
        @if (!User.Identity.IsAuthenticated)
        {
        <div>
            @Html.ActionLink("Log In", "Login", "Account", null, new { @class = "btn btn-default" })
            @Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-danger" })
        </div>
        }
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 id="features">Features</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Character Sheets</h2>
            <p>
                Keep track of all your characters with information such as name, race, gender, and class. 
                More character details coming soon...
            </p>
        </div>
        <div class="col-md-4">
            <h2 class="test">Character Journals</h2>
            <p>
                Detail all your characters adventures with character specific journal entries.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Character Inventory</h2>
            <p>
                Know exactly what each character is carrying in their inventory, 
                and how much of each item they are carrying. More inventory item details coming soon...
            </p>
        </div>
    </div>
</div>