body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

ul {
    list-style: none;
}

h1, h2, h3, dt {
    font-family: 'Sawarabi Mincho', sans-serif;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn {
    border-radius: 0;
    margin-right: 1%;
}

.home {
    background: url(Images/DnD_Starter_Art.jpg) center no-repeat;
    background-size: cover;
}

.jumbotron {
    text-align: center;
}

.jumbotron h1, .jumbotron p {
    display: inline-block;
    color: #eee;
    background-color: rgba(0,0,0,0.6);
    padding: 1%;
}

.links {
    margin-top: 20px;
}

.col-md-4 h2 {
    text-align: center;
}

.col-md-4 p {
    font-size: 1.1em;
}

#features {
    padding-bottom: 7%;
}

.feature {
    margin-bottom: 10%;
}

.char-info {
    font-size: 0.9em;
}

.list-group-item {
    font-size: 1.3em;
}

.stat-circle {
    border: 1px solid black;
    border-radius: 15px;
    font-size: 1.4em;
    width: 50%;
    height: 50%;
    margin: auto;
}

.skills, .saving-throws {
    font-size: 0.8em;
}

.hit-stats {
    font-size: 1.4em;
}

.class-icon {
    max-height: 150px;
}

#features {
    text-align: center;
    margin-bottom: 2%;
    font-size: 3em;
}

#character {
    background: url(Images/DFS_poster1.jpg) center no-repeat;
    background-size: cover;
}

#journal {
    background: url(Images/DnD_PHB_Art.jpg) center no-repeat;
    background-size: cover;
}

#inventory {
    background: url(Images/DnD_DMG_Art.jpg) center no-repeat;
    background-size: cover;
}

.character-card {
    max-height: 450px;
    padding: 0 3% 5% 3%;
}

.character-card a {
    color: #B26E63;
}

legend {
    padding-left: 15px;
    padding-top: 3%;
}

.loginForm {
    margin: 5% auto;
}

.about {
    margin: 5% auto;
}