body {
    background: url(Images/roots.jpeg) center no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

ul {
    list-style: none;
}

h1, h2, h3 {
    font-family: 'Sawarabi Mincho', sans-serif;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn {
    border-radius: 0;
    margin-right: 1%;
}

.home {
    background: url(Images/DnD_Starter_Art.jpg) center no-repeat;
    background-size: cover;
}

.jumbotron h1, .jumbotron p {
    display: inline-block;
    color: #eee;
    background-color: rgba(0,0,0,0.6);
    padding: 1%;
}

.col-md-4 h2 {
    text-align: center;
}

.col-md-4 p {
    font-size: 1.1em;
}

#features {
    text-align: center;
    margin-bottom: 2%;
    font-size: 3em;
}

#character {
    background:none;
}

#journal {
    background: url(Images/DnD_PHB_Art.jpg) center no-repeat;
    background-size: cover;
}

#inventory {
    background: url(Images/DnD_DMG_Art.jpg) center no-repeat;
    background-size: cover;
}

.character-card {
    background-color: #F5F1ED;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.6);
    padding: 5px;
    margin-bottom: 3%;
    color: #654C4F;
}

.character-card a {
    color: #B26E63;
}

.character-card h2 {
    text-align: center;
}

.character-card h4 {
    text-align: center;
}

.character-card p {
    display: inline;
}

footer {
    color: #F5F1ED;
}